<!--The content below is only a placeholder and can be replaced.-->
<div class="form-container">

  <!--<app-parking></app-parking>-->
  <form>


    <div class="margin-bottom">
      <label for="user-email">Email</label>
      <input id="user-email" type="email" required placeholder="example@username.com"/>
    </div>

    <label for="user-password">Password</label>
    <input id="user-password" type="password" required placeholder="password"/>


    <button (click)="login()">Submit</button>

  </form>

</div>
